body {
  font-family: sans-serif;
  background-color: dimgrey;
  margin: 0;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
.allProductMapped {
  display: inline-block;
  margin: 1em;
}

.siteHeader {
  text-align: center;
}

#main {
  width: 900px;
  margin: 0 auto;
  height: 100%;
  border: darkslategrey 3px solid;
  background-color: white;
  padding: 10px 30px;
}
h1 {
  font-family: fantasy;
}
